[account]
appveyor = BinCrafters
travis = bincrafters
github = bincrafters
azure = bincrafters
circle = bincrafters
[token]
appveyor = <your appveyor token>
travis = <your travis token>
azure = <your Azure DevOps Pipelines token>
circle = <you Circle CI token>
[env]
CONAN_LOGIN_USERNAME = <your username>
CONAN_PASSWORD = <your password>
[encrypted]
CONAN_PASSWORD
