[account]
appveyor = BinCrafters
travis = bincrafters
github = bincrafters
[token]
appveyor = <your appveyor token>
travis = <your travis token>
[env]
CONAN_LOGIN_USERNAME = <your username>
CONAN_PASSWORD = <your password>
[encrypted]
CONAN_PASSWORD
